<!-- begin:: Page -->
<div class="m-content">
	<!--[html-partial:include:{"file":"partials\/_header-base.html"}]/-->
	<!-- begin::Body -->
	<div class="m-content">
		<!--[html-partial:include:{"file":"partials\/_aside-left.html"}]/-->
		<div class="m-content">
			<!--[html-partial:include:{"file":"partials\/_subheader-default.html"}]/-->
			<div class="m-content"></div>
		</div>
	</div>
	<!-- end:: Body -->
	<!--[html-partial:include:{"file":"partials\/_footer-default.html"}]/-->
</div>
<!-- end:: Page -->
<!--[html-partial:include:{"file":"partials\/_layout-quick-sidebar.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-scroll-top.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-tooltips.html"}]/-->
